@{
}
<p localize>
    <case culture="zh-HK">版權所有 &copy; @DateTime.Today.Year</case>
    <case culture="zh">版权所有 &copy; @DateTime.Today.Year</case>
    <case culture="ar">حقوق النشر &copy; @DateTime.Today.Year</case>
    <case culture="he">כל הזכויות שמורות &copy; @DateTime.Today.Year</case>
    <case culture="fa">حق چاپ &copy; @DateTime.Today.Year</case>
    <case culture="ur">کاپی رائٹ &copy; @DateTime.Today.Year</case>
    <case culture="ja">著作権 &copy; @DateTime.Today.Year</case>
    <case culture="th">ลิขสิทธิ์ &copy; @DateTime.Today.Year</case>
    <case culture="ko">저작권 &copy; @DateTime.Today.Year</case>
    <case culture="el">Πνευματικά δικαιώματα &copy; @DateTime.Today.Year</case>
    <case culture="hi">कॉपीराइट &copy; @DateTime.Today.Year</case>
    <case culture="en">Copyright &copy; @DateTime.Today.Year</case>
</p>