@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Genova.Temp. SharedResource> Localizer
@inject Genova.Temp.Localization.ILocalizationService LocalizationService

@{
    var defaultCulture = LocalizationService.DefaultCulture.Name;
    var enPrefix = defaultCulture.Equals("en", StringComparison.InvariantCultureIgnoreCase) ? "" : "en";
    var zhPrefix = defaultCulture.Equals("zh", StringComparison.InvariantCultureIgnoreCase) ? "" : "zh";
    var zhhkPrefix = defaultCulture.Equals("zh-HK", StringComparison.InvariantCultureIgnoreCase) ? "" : "zh-hk";
    var arPrefix = defaultCulture.Equals("ar", StringComparison.InvariantCultureIgnoreCase) ? "" : "ar";

    var selectorTitles = new string[,]
    {
        { "zh-HK", "語言選擇" },
        { "zh", "语言选择" },
        { "ar", "اختيار اللغة" },
        { "en", "Language selection" }
    };

    var selectorTitle = LocalizationHelper.GetLocalizedValue(selectorTitles);
}
<!DOCTYPE html>
<html lang="@defaultCulture.ToLowerInvariant()">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/-/styles/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav aria-label="@selectorTitle">
            <ul dir="ltr">
                <li><a href="/@enPrefix" lang="en">English</a></li>
                <li><a href="/@zhPrefix" lang="zh">简体中文</a></li>
                <li><a href="/@zhhkPrefix" lang="zh-HK">繁體中文</a></li>
                <li><a href="/@arPrefix" lang="ar" dir="rtl">العربية</a></li>
            </ul>
        </nav>
        <hr />
        <h1>
            <localize>
                <case culture="zh-HK">測試網站</case>
                <case culture="zh">测试网站</case>
                <case culture="ar">موقع اختبار</case>
                <case culture="en">Test Website</case>
            </localize>
        </h1>

        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index" localize>
                        <case culture="zh-HK">首頁</case>
                        <case culture="zh">首页</case>
                        <case culture="ar">الرئيسية</case>
                        <case culture="en">Home</case>
                    </a>
                </li>
                <li>
                    <a asp-controller="About" asp-action="Index" localize>
                        <case culture="zh-HK">關於我們</case>
                        <case culture="zh">关于我们</case>
                        <case culture="ar">من نحن</case>
                        <case culture="en">About</case>
                    </a>
                </li>
            </ul>
        </nav>
        <hr />
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <hr />
        <p localize="true">
            <case culture="zh-HK">版權所有 &copy; @DateTime.Today.Year</case>
            <case culture="zh">版权所有 &copy; @DateTime.Today.Year</case>
            <case culture="ar">حقوق النشر &copy; @DateTime.Today.Year</case>
            <case culture="en">Copyright &copy; @DateTime.Today.Year</case>
        </p>
        <p>@Localizer["SPECIFIC_TEXT"]</p>
        @*
        <p id="target-css"></p>
        <p id="target-js"></p>
        <p>Current culture: @System.Globalization.CultureInfo.CurrentCulture</p>
        <p>Current UI culture: @System.Globalization.CultureInfo.CurrentUICulture</p>
        <p>Date: @DateTime.Today</p>
        <p>Time: @DateTime.Now</p>
        <p>Short Date: @DateTime.Today.ToShortDateString()</p>
        <p>Short Time: @DateTime.Now.ToShortTimeString()</p>
        <p>Long Date: @DateTime.Today.ToLongDateString()</p>
        <p>Long Time: @DateTime.Now.ToLongTimeString()</p>
        <p>Localized specific text: @Localizer["SPECIFIC_TEXT"]</p>
        <p>Localized neutral text: @Localizer["NEUTRAL_TEXT"]</p>
        <p>Localized default text: @Localizer["DEFAULT_TEXT"]</p>
        <p>Localized default text: @Localizer["DATABASE_TEXT"]</p>
        <p>Localized default text: @Localizer["MISSING_TEXT"]</p>
        *@
    </footer>

    <script src="~/-/scripts/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

